<html lang="en">

<head>
    <%- include('./head.html') %>

    <script src="scripts/plaid.js" type="text/javascript" defer></script>
    <script src="scripts/home.ejs.js" type="text/javascript" defer></script>
</head>

<body>
    <%- include('./navbar.html') %>
    <p><%= debug  %></p>
    <div class="container">
        <div class="row">
            <p>Hello, <%= user.firstName %> <%= user.lastName %></p>
            <p>Your Google ID is: <%= user.id %></p>
            <button id="plaid" class="btn btn-primary">Plaid</button>
        </div>
    </div>
</body>

<script>
    var user = '<%= user %>';
    var URL = '<%= URL %>';
    var PLAID_ENV = '<%= PLAID_ENV %>';
    var PLAID_PUBLIC_KEY = '<%= PLAID_PUBLIC_KEY %>';
</script>

</html>