<html lang="en">

<head>
    <%- include('./head.html') %>

    <script src="scripts/plaid.js" type="text/javascript" defer></script>
    <script src="scripts/home.ejs.js" type="text/javascript" defer></script>
</head>

<body>
    <%- include('./navbar.html') %>
    <div id="app" class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h1>Welcome, {{ userFullName }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Current budget</span>
                        <div id="currentBudgetCarousel" class="carousel carousel-slider center">
                            <div class="carousel-item">
                                <div id="weekChart" class="responsive-google-chart donut-chart"
                                    v-show="budgetChartToShow === 'week'">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="monthChart" class="responsive-google-chart"
                                    v-show="budgetChartToShow === 'month'">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="quarterChart" class="responsive-google-chart"
                                    v-show="budgetChartToShow === 'quarter'">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="yearChart" class="responsive-google-chart"
                                    v-show="budgetChartToShow === 'year'">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item amber white-text" href="#two!">
                                <h2>Second Panel</h2>
                                <p class="white-text">This is your second panel</p>
                            </div>
                            <div class="carousel-item green white-text" href="#three!">
                                <h2>Third Panel</h2>
                                <p class="white-text">This is your third panel</p>
                            </div>
                            <div class="carousel-item blue white-text" href="#four!">
                                <h2>Fourth Panel</h2>
                                <p class="white-text">This is your fourth panel</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field">
                            <select id="budgetChartSelect" v-model="budgetChartToShow">
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                                <option value="quarter">Quarter</option>
                                <option value="year">Year</option>
                            </select>
                            <label>Budget</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Upcoming bills</span>
                        <table class="table highlight">
                            <thead>
                                <th>Due date</th>
                                <th>Amount</th>
                                <th>Bill</th>
                                <th class="hide-on-med-and-down">Account</th>
                            </thead>
                            <tbody>
                                <tr v-for="bill in upcomingBills">
                                    <td>{{ getFormattedDate(bill.dueDate) }}</td>
                                    <td>{{ getFormattedCurrency(bill.amount) }}</td>
                                    <td>{{ bill.name }}</td>
                                    <td class="hide-on-med-and-down">{{ getAccountFromId(bill.accountId) || 'None' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Piggy banks</span>
                        <div class="row">
                            <div class="col s12 m12 l6" v-for="piggyBank in user.piggyBanks">
                                <div class="card-panel center">
                                    <span class="card-title">{{ piggyBank.name }}</span>
                                    <div :id="'piggyBankChart' + piggyBank.id" class="responsive-google-chart center">
                                        <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-green-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script defer>
    const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    var URL = '<%= URL %>';
    var PLAID_ENV = '<%= PLAID_ENV %>';
    var PLAID_PUBLIC_KEY = '<%= PLAID_PUBLIC_KEY %>';
</script>

</html>