<!DOCTYPE html>

<html>
<%- include ./head.html %>

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Spending</h1>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Spending vs. budget</span>
                        <div id="spendingVsBudgetChart" class="responsive-google-chart center bar-chart">
                            <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="input-field">
                            <select id="budgetSelect" v-model="budgetToShow">
                                <option value="week">Week</option>
                                <option value="month">Month</option>
                                <option value="quarter">Quarter</option>
                                <option value="year">Year</option>
                            </select>
                            <label>Budget</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='scripts/spending.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
        const budgetItemsToTransactionItems = JSON.parse(`<%- JSON.stringify(budgetItemsToTransactionItems) %>`);
        // const tagsToTransactionItems = JSON.parse(`<- JSON.stringify(tagsToTransactionItems) %>`);
    </script>
</body>

</html>