<!doctype html>
<html>

<%- include ./head.html %>

<body>
    <%- include('./navbar.html') %>

    <div class="container">
        <div class="section">
            <!-- <div id="accountSelector" class="input-field col s12">
                <option value="0" selected>All</option>
                <option v-for="(account, index) in accounts" value="{{ index + 1 }}">{{ account }}</option>
            </div> -->

            <input type="text" class="datepicker">

            <table id="table" class="striped">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Merchant</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in transactions">
                        <td>{{ t.amount }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // const URL = '<%= URL %>';
        var transactions = JSON.parse('<%- JSON.stringify(transactions) %>');
        const user = '<%= user %>';
        var table = new Vue({
            el: '#table',
            data: {
                transactions: transactions
            }
        });

        // var selector = new Vue({
        //     el: '#accountSelector',
        //     data: {
        //         accounts: null
        //     }
        // });
    </script>

    <!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="card-title">
                                Transactions
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="transactions" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Merchant</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="t in transactions">
                                    <td>{{ t.amount }}</td>
                                    <td>{{ t.name }}</td>
                                    <td>{{ t.date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" tab-index="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/index.js"></script> -->
</body>

</html>